body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(225, 225, 225);

}
.container{
    height: 100vh;
    width: 100vw;
    background-image: url("Manage-Your-Money.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 10vh;

}

ul{
    list-style: none;
    display: flex;
    column-gap: 25px;
    
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
    row-gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.navbar-right{
    color: white;
    padding: 25px;
    font-size: 25px;
    display: flex;
    column-gap: 9px;
}
ul li{
    color: black;
    
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;

}

i{
    color: #000000;
}
ul li a{
    color: black;
    text-decoration: none;
}
ul li:hover{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: #7db8b6;
}
ul li a:hover{
    color: #7db8b6;

}
.navbar-right i{
   padding: 6px;
}
.navbar-right i:hover{
    border-radius: 50%;
    color: #587ddb7c;
    background-color: white;
}
.container-middle{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 100%;
}
form input{
    border: 2px solid #f7796b;
    border-radius: 20px;
    height: 26px;
    padding-left: 3px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgb(255, 255, 255);
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px;
}
form input:hover{
    outline: none;
    border: 2px solid black;
}
form button{
    background-color: #f7796b;
    color: white;
    border-radius: 20px;
    height: 38px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
.container-middle-head{
    opacity: 0.7;
    font-size: 38px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(25px);
}
.container-middle-head span{
    position: relative;
    transition: 2s;
}
footer{
    background-color: black;
    color: white;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.container-middle-text h2{
    opacity: 0.6px;
    letter-spacing: 1px;
}
.footer-icons i{
    font-size: 25px;
    margin: 5px;

}
.division{
    padding-top: 5%;

}
.division2{
    font-size: 25px;
    padding-left: 50%;
    margin-left: 10px;
}
.imae1{
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}
.heading{
    height: 800px;
    background-image: url("https://img.freepik.com/free-vector/white-blurred-background_1034-249.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 100%;
    padding-top: 3%;
    text-align: center;
}
.finance{
    opacity: 0.7;
    font-size: 38px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #000000;
    backdrop-filter: blur(25px);
}
button{
    background-color: rgb(255, 221, 226);
    height: 80px;
    width: 500px;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: serif;

}
.height{
    font-size: 25px;
}
.grid-graphs{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.grid-graphs img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
.top-companies img{
    height: 300px;
    width: 400px;
}
.top-companies{
    margin-top: 100px;
    display: flex;
    column-gap: 50px;

}
.myvideo{
    height: 500px;
    width: 1000px;
    margin-top: 60px;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: black
}