body{
    margin: 0px;
    padding: 0px;
    background: url("personal-financial-planning-management-247810289.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
form{    
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 450px;
    row-gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(4, 4, 4, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(3, 3, 3, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 100px;
}
form input{
    border: 2px solid #000000;
    border-radius: 20px;
    height: 40px;
    padding-left: 3px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgb(0, 0, 0);
    color: rgb(14, 13, 13);
    border: none;
    font-size: 18px;
    padding: 5px;
}
form input:hover{
    outline: none;
    border: 2px solid rgb(0, 0, 0);
}
form button{
    background-color: rgb(106, 160, 196);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 50px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    margin-top: 5%;
}
::placeholder{
    color: #000000;
}
h2{
    font-size: 40px;
}